<div class="container">
  <div class="jumbotron">
    <h1 class="card-title">{{user.org}} Dashboard</h1>
    <p>Welcome, {{user.userName}}</p>
  </div>
  <div class="card mb-3" style="max-width: 30rem">
    <div class="card-header">
      Mailbox Stats:
    </div>
    <div class="card-body">
      <div class="card-text">
        <p><strong>Open:</strong> {{open}}</p>
        <p><strong>Closed:</strong> {{closed}}</p>
        <p><strong>Total:</strong> {{total}}</p>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 30rem">
    <div class="card-header">
      Inactive Mailboxes:
    </div>
    <div class="card-body">
      {{#each clients}}
        <ul class="mailChecks">
          {{#if (isInactive mailChecks)}}
            <li>
              {{box}} {{firstName}} {{lastName}}
            </li>
          {{/if}}
        </ul>
      {{/each}}
    </div>
  </div>
  <div class="card mb-3" style="max-width: 30rem">
    <div class="card-header">
      Mailboxes Checked Today:
    </div>
    <div class="card-body">
      {{#each clients}}
        <ul class="mailChecks">
          {{#if (checkedToday mailChecks)}}
            <li>
              {{box}} {{firstName}} {{lastName}}
            </li>
          {{/if}}
        </ul>
      {{/each}}
    </div>
  </div>
</div>