<div class="container" align="center">
  <div class="card mb-3" style="max-width: 40rem" align="left">
    <div class="card-header">
      <h2>Dashboard</h2>
    </div>
    <div class="card-body">
      <p>User: {{user.username}} {{user.userName}}</p>  
      {{#if user.org}}
      <p>Organization: {{org}}</p>
      {{else}}
      <p>
        <a href="/join" class="btn btn-success">Join an organization</a>
        <a href="/new" class="btn btn-success">Add your organization</a>
      </p>
      {{/if}}
    </div>
  </div>
  <div class="card mb-3" style="max-width: 40rem" align="left">
    <div class="card-header">
      Mailbox Stats:
    </div>
    <div class="card-body">
      <div class="card-text flex flex-evenly">
        <a class="btn" href="/clients"><strong>Open:</strong> {{open}}</a>
        <a class="btn" href="/clients/getClosedBoxes"><strong>Closed:</strong> {{closed}}</a>
        <a class="btn" href="/clients/getAllBoxes"><strong>Total:</strong> {{total}}</a>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 40rem" align="left">
    <div class="card-header">
      Inactive Mailboxes:
    </div>
    <div class="card-body">
      {{#each clients}}
        <ul class="mailChecks">
          {{#if (isInactive mailChecks)}}
            <li>
              <a href="/clients/{{_id}}" class="btn">
                  <strong>{{box.letter}}-{{box.number}}</strong> {{firstName}} {{lastName}}
              </a>
            </li>
          {{/if}}
        </ul>
      {{/each}}
    </div>
  </div>
  <div class="card mb-3" style="max-width: 40rem" align="left">
    <div class="card-header">
      Mailboxes Checked Today:
    </div>
    <div class="card-body">
      {{#each clients}}
        <ul class="mailChecks">
          {{#if (checkedToday mailChecks)}}
            <li>
              <a href="/clients/{{_id}}" class="btn">
                <strong>{{box.letter}}-{{box.number}}</strong> {{firstName}} {{lastName}}
              </a>
            </li>
          {{/if}}
        </ul>
      {{/each}}
    </div>
  </div>
</div>