<div class="container">
  <div class="jumbotron">
    <h1 class="card-title">{{user.org}} Dashboard</h1>
    <p>Welcome, {{user.username}}</p>
  </div>
  <div class="card mb-3" style="max-width: 30rem">
    <div class="card-header">
      Mailbox Stats:
    </div>
    <div class="card-body">
      <div class="card-text flex flex-evenly">
        <a class="btn" href="/clients"><strong>Open:</strong> {{open}}</a>
        <a class="btn" href="/clients/getClosedBoxes"><strong>Closed:</strong> {{closed}}</a>
        <a class="btn" href="/clients/getAllBoxes"><strong>Total:</strong> {{total}}</a>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 30rem">
    <div class="card-header">
      Inactive Mailboxes:
    </div>
    <div class="card-body">
      {{#each clients}}
        <ul class="mailChecks">
          {{#if (isInactive mailChecks)}}
            <li>
              <a href="/clients/{{_id}}" class="btn">
                <strong>{{box}}</strong> {{firstName}} {{lastName}}
              </a>
            </li>
          {{/if}}
        </ul>
      {{/each}}
    </div>
  </div>
  <div class="card mb-3" style="max-width: 30rem">
    <div class="card-header">
      Mailboxes Checked Today:
    </div>
    <div class="card-body">
      {{#each clients}}
        <ul class="mailChecks">
          {{#if (checkedToday mailChecks)}}
            <li>
              <a href="/clients/{{_id}}" class="btn">
                <strong>{{box}}</strong> {{firstName}} {{lastName}}
              </a>
            </li>
          {{/if}}
        </ul>
      {{/each}}
    </div>
  </div>
</div>