<div class="container client-list">
  
  {{#each clients}}
    <div class="card">
      <div class="card-body clientMailbox">
        <a href="/clients/{{_id}}" class="client-list-entry">
          <div class="box">
            <h4>{{boxLetter}}-{{boxNumber}}</h4>
          </div>
        </a>
        <a href="/clients/{{_id}}" class="client-list-entry">
          <div class="clientDetails">
            <h4 class="card-title">{{firstName}} {{lastName}}
              {{#if (checkSafety safetyConcern)}}
            <span><i class="fa-solid fa-circle-exclamation safetyConcern"></i></span>
            {{/if}}
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">{{otherNames}}</h6>
            <p class="card-text">{{notes}}</p>
            <span class="badge rounded-pill bg-secondary">{{status}}</span>
          </div>
        </a>
        <div class="checkbox">
            {{#if (checkedToday mailChecks)}}
              <div class="check-undo">
                <form
                  action="/clients/check/{{_id}}?_method=PUT"
                  method="POST"
                >
                  <button type="submit" class="btn btn-link"><h3><i class="fa-solid fa-circle-check"></i></h3></button>
                </form>
                <form
                  action="/clients/uncheck/{{_id}}?_method=PUT"
                  method="POST"
                >
                  <button type="submit" class="btn btn-link"><h3><i class="fas fa-undo undo"></i></h3></button>
                </form>
              </div>
              <span>Last checked today</span>
            {{else}}
              <div class="check-undo">
                <form
                  action="/clients/check/{{_id}}?_method=PUT"
                  method="POST"
                >
                  <button type="submit" class="btn btn-link uncheckedMailbox" alt="Check mail"><h3><i class="fa-regular fa-circle-check"></i></h3></button>
                </form>
                <form
                  action="/clients/uncheck/{{_id}}?_method=PUT"
                  method="POST"
                >
                  <button type="submit" class="btn btn-link"><h3><i class="fas fa-undo undo"></i></h3></button>
                </form>
              </div>
              <p>
                Last checked:
                {{#if mailChecks}}
                  {{#each mailChecks}}
                    {{#if @last}}
                      {{formatDate this 'M/D/YY'}}
                    {{/if}}
                  {{/each}}
                {{else}}
                  {{formatDate createdAt 'M/D/YY'}}
                {{/if}}
              </p>

            {{/if}}
            {{#if (isInactive mailChecks)}}
              <p class="badge rounded-pill bg-purple">Inactive</p>
            {{/if}}
        </div>
      </div>
    </div>
  
  {{else}}
  <p>There are no open mailboxes</p>
  {{/each}}
</div>
<div class="back-to-top"><a href="/clients/#top" class="btn btn-link" style="text-decoration: none; font-size: 2rem"><i class="fa-solid fa-caret-up fa-fw"></i></a></div>