<div class="client-list">
  <div class="title-add">
    <h1>Client Mailboxes</h1>
    {{>_add_btn}}
  </div>
  {{#each clients}}
  <div class="card">
    <div class="card-body clientMailbox">
      <div class="box">
        <h4>{{box}}</h4>
      </div>
      <div class="clientDetails">
        <h4 class="card-title">{{firstName}} {{lastName}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{otherNames}}</h6>
        <p class="card-text">{{notes}}</p>
        <a href="/clients/edit/{{_id}}" class="card-link">Edit</a>
      </div>
      <div class="checkbox">
        <div>
          {{!-- !Update action? --}}
          {{!-- !Add conditional - if date is not equal to today, should be marked unchecked, otherwise checked --}}
          <form action="/clients/check/{{_id}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-solid fa-check fa-fw"></i> Check</button>
          </form>
        </div>
        <div>
          {{#if (checkedToday lastChecked)}}
            <i class="fa-solid fa-circle-check"></i>
          {{else}}
            <i class="fa-regular fa-circle-check"></i>
          {{/if}}
        </div>
        <div>
          Last checked:<br>{{formatDate lastChecked 'MM/D/YYYY h:mm:ss a'}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <p>There are no open mailboxes</p>
  {{/each}}
</div>