<div class="client-list">
  <div class="title-add">
    <h1>Client Mailboxes</h1>
    {{>_add_btn}}
  </div>
  {{#each clients}}
  <div class="card">
    <div class="card-body clientMailbox">
      <div class="box">
        <h4>{{box}}</h4>
      </div>
      <div class="clientDetails">
        <h4 class="card-title">{{firstName}} {{lastName}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{otherNames}}</h6>
        <p class="card-text">{{notes}}</p>
        <a href="/clients/edit/{{_id}}" class="card-link">Edit</a>
      </div>
      <div class="checkbox">
        <div>
          {{#if (checkedToday lastChecked)}}
            <form action="/clients/check/{{_id}}" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <button type="submit" class="btn btn-link"><h3><i class="fa-solid fa-circle-check"></i></h3></button>
            </form>
            <p>Last checked today</p>
          {{else}}
            <form action="/clients/check/{{_id}}" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <button type="submit" class="btn btn-link" alt="Check mail"><h3><i class="fa-regular fa-circle-check"></i></h3></button>
            </form>
            <p>Last checked<br>{{formatDate lastChecked 'MM/D/YYYY'}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <p>There are no open mailboxes</p>
  {{/each}}
</div>