<div class="container" align="center">
  {{#with client}}
  <div class="card mb-3" style="max-width: 40rem" align="left">
    <h3 class="card-header">Edit Client Details</h3>
    <div class="card-body">
      <form action="/clients/{{_id}}" method="POST">
      <input type="hidden" name="_method" value="PUT">
        <div class="client-form">
          <div class="form-half row gx-3 mt-0">
            <div class="form-group col">
              <label class="col-form-label" for="box">Mailbox*</label>
              <input type="text" class="form-control" value="{{box}}" pattern="[A-Z]-[0-9]{1,4}" id="box" name="box" required>
            </div>
            <div class="form-group col"></div>
            <div class="form-group col"></div>
            <div class="form-group col">
              <label for="safetyConcern" class="form-label">Safety Concern?</label>
              <select class="form-select" id="safetyConcern" name="safetyConcern" value="{{safetyConcern}}">
                <option selected value="{{safetyConcern}}">{{safetyConcern}}</option>
                {{#if (checkSafety safetyConcern)}}
                <option value=false>false</option>
                {{else}}
                <option value=true>true</option>
                {{/if}}
              </select>
            </div> 
          </div>
          <div class="form-half row gx-3 mt-3">
            <div class="form-group w-50 col">
              <label class="col-form-label" for="firstName">First Name*</label>
              <input type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}" required>
            </div>
            <div class="form-group w-50 col">
              <label class="col-form-label" for="lastName">Last Name*</label>
              <input type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label mt-3" for="otherNames">Other Names</label>
            <input type="text" class="form-control" id="otherNames" name="otherNames" value="{{otherNames}}">
          </div>
          <div class="form-half row gx-3 mt-0">
            <div class="form-group col">
              <label for="phone" class="form-label mt-4">Phone Number</label>
              <input type="tel" class="form-control" id="phone" name="phone" pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}" value="{{phone}}"></input>
            </div>
            <div class="form-group col">
              <label for="email" class="form-label mt-4">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{email}}"></input>
            </div>
          </div>
          <div class="form-group">
            <label for="notes" class="form-label mt-4">Notes</label>
            <textarea class="form-control" id="notes" name="notes" rows="3" placeholder="Add any additional notes about this client">{{notes}}</textarea>
          </div>
          <div class="edit-options mt-3">
            <button type="submit" class="btn btn-lg btn-success mt-2">Update</button>
            <a href="/clients" class="btn btn-link" style="color: lightgray">Cancel</a>
            <form action="/clients/{{_id}}" method="POST" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <div class="showRight edit-options">
                <button type="submit" class="btn btn-lg btn-danger">Delete Client</button>
              </div>
            </form>
          </div>
      </form>
    </div>
  </div>
  {{/with}}
</div>