<div class="container-fluid flex-between">
  <h1>Client Page</h1>
  <a href="/clients" class="btn btn-link right">Back</a>
</div>
<div class="container">
  {{#with client}}
  <div class="card mb-3">
    <h3 class="card-header">{{firstName}} {{lastName}} <span class="showRight"> {{box}}</span></h3>
    <div class="card-body">
      <div>
        {{#if (checkSafety safetyConcern)}}
        <span class="showRight"><i class="fa-solid fa-circle-exclamation safetyConcern fa-fw"></i> Safety Concern</span>
        {{/if}}
      </div>
      <h5 class="card-title">Other names client may receive mail addressed to</h5>
      <h6 class="card-subtitle text-muted">{{otherNames}}</h6>
    </div>
    <div class="card-body">
      <h4>Contact</h4>
      <p class="card-text"><strong>Phone:</strong> {{phone}}</p>
      <p class="card-text"><strong>Email:</strong> {{email}}</p>
      <h4>Notes</h4>
      <p class="card-text">{{notes}}</p>
      <h5>Mail Checks</h5>
      <p class="card-text">
        <ul class="mailChecks">
          {{#each mailChecks}}
            <li>{{formatDate this 'MMM Do, YYYY'}}</li>
          {{/each}}
        </ul>
      </p>
      <p>
        {{!-- ! This isn't working --}}
            {{#if (isInactive mailChecks)}}
              <span>INACTIVE</span>
            {{/if}}
      </p>
    </div>
    <div class="card-footer text-muted">
      <span>Mailbox last checked {{formatDate lastChecked 'MMM Do, YYYY'}}</span>
      <span class="showRight">Status: {{status}}</span>
    </div>
  </div>
  <div>Client record created by {{user.username}} on {{formatDate user.createdAt 'MMM Do, YYYY'}}</div>
  <div class="flex">
    <form action="/clients/edit/{{_id}}" method="GET">
      <button class="btn btn-primary btn-lg">Edit</button>
    </form>
    {{#if (checkStatus status)}}
    <form action="/clients/close/{{_id}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
      <button class="btn btn-secondary btn-lg">Close Mailbox</button>
    </form>
    {{else}}
    <form action="/clients/reopen/{{_id}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
      <button class="btn btn-success btn-lg">Reopen Mailbox</button>
    </form>
    {{/if}}
    <form action="/clients/delete/{{_id}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
      <button class="btn btn-danger btn-lg">Delete</button>
    </form>
  </div>
  {{/with}}
</div>